:root {
    --rojo: #CD1A30;
    --rojoOscuro: #7A0C31;
    --amarillo: #FEE785;
    --blanco: #ffffff;
    --vordo: rgb(28, 9, 5);
}

body {
    box-sizing: content-box;
    font-size: 16px;
    line-height: 1.7;
    color: var(--blanco);
    background-color: var(--vordo);
    max-width: 900px;
    margin: 0 auto;
    padding: 24px 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicioSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    font-size: 20px;
}

.inicioSesion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#btnIniciar{
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    
}



/*Img*/

.logoForfols{
    height: 60px;
}
.logoSGRSI{
    height: 90px;
    width: 240px;
}
.logoITI{
    height: 56px;
    width: 56px;
}


@media (max-width: 480px) and (orientation: portrait) {
    img {
        height: 30px;

    }

    h1{
        padding-top: 60px;
        font-size: 45px;
    }


    #btnIniciar {
        width: 200px;
        height: 75px;
        padding: 10px 20px;
        margin-top: 50px;
        font-size: 18px;
    }

}